
nav {
    background-color:white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    padding-bottom: 10px;
}

nav ul li{
    display: inline-block;
    color: white;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    border: 5px solid #2a6592;
    border-radius: 5px;
    background-color: #2a6592;
    padding-left: 2px;
    padding-right: 2px;
}

nav ul {
    text-align: right;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    margin-bottom: 100px;
    width: 300px;
    background-color: white;
    display: inline-block;
    box-shadow: 3px 7px grey;
    text-align: left;
    padding: 20px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

input {
    width: 95%;
    padding: 5px;
}

#button {
    background-color: #2a6592;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 
    padding: 5px 20px 5px 20px;
}

body {
    background-color: #8ec3eb;
    overflow: scroll;
    overflow-x: hidden;
}

#amazonThumb {
    width: 23%;
    height: auto; 
    border-radius: 100%;
    float: left;
    padding: 5px 5px 5px 5px;
}

#facebookThumb {
    width: 19%;
    height: auto;
    border-radius: 10px;
    float: left;
    padding: 5px 5px 5px 10px;
}

#instaThumb {
    width: 19%;
    height: auto;
    border-radius: 10px;
    float: left;
    padding: 5px 5px 5px 20px;
}